.app__navbar{
    width: 100%;
    border: 2px solid black;
}

.app__navbar-links{
    display: flex;
    place-content: center;
    justify-content: space-evenly;
    padding: 0;
}

.app__navbar-links__elem{
    list-style-type: none;
}