.app__profile__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    border: 2px solid black;
    margin-top: 1rem;
}

.app__profile__element__container{
    margin: 1rem;
}

.app__profile__element__key{
    font-weight: 600;
}